body{
    background-color: rgb(187, 178, 178);
}

.CV{
    display: flex;
}
.tableCV{
    text-align: center;
    



}

.colonne1{
    width:25%;
    background-color: grey ;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    
}
.colonne2{
    width:75%;
    background-color: rgb(161, 125, 125) ;
    padding: 10px;
}

.image{
    display: flex;
    text-align: right;
    width: 200px;
    height: 300px;
 
}

#imagelang{
    text-align: center;
    width:50px;
    height:30px

}

.Titre{
    flex-basis:80%;
}
.menu{
    text-align: center;
}
.bouton{
    text-align: center;
  
    background-color: rgb(98, 217, 238);
    width:150px;
    height:50px;

}
.boutoncourant{

    text-align: center;
    background-color: rgb(119, 98, 238);
    font-style: italic;
    width:150px;
    height:50px;

}

.boutonlangue{
    display: flex;
    flex-direction: row;
    
}
.blang {
    text-align: center;
    background-color: rgb(98, 217, 238);

    width:75px;
    height:50px;
}
.blangcourant {
    text-align: center;
    background-color: rgb(119, 98, 238);
   
    width:75px;
    height:50px;
}



.bandeau{
    text-align: center;
    background-color:rgb(79, 14, 165);
    font-weight: bold;
    color: whitesmoke;
}

p{
    font-size: 16px;
    text-align: center;
}

h1 {
    text-align: center;
    color : black;
    font-size: 32px;
}

h2 {
    color: black;
    text-align: center;
}

h3{
    color: black;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}
h4{
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.haut{
    display:flex;
    flex-direction: row;
    width : 100%;
   
}
.Titre p{
    color: red;
    font-size: 30px;
    font-weight: bold;
}


.Conteneur{
    display: flex;
    flex-direction: row;
    
}

.Eltflex1{
    display: flex;
    flex-direction: column;
    
    width : 250px;
    
}


.Contenu{
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
}

.pied{
    flex: 1 100%;
    text-align: center;
    font-size: 32px;
}

