.conteneur-flexible{
    display: flex;
    background-color: #0AD; /*Bleu*/
  
}
.ligne{
    flex-direction: row; /*Axe principal = axe horizontal*/
}
.ligne-inverse{
    flex-direction: row-reverse; /*Axe principal = axe horizontal*/
}
.colonne{
    flex-direction: column; /*Axe principal = axe vertical*/
}
.colonne-inverse{
    flex-direction: column-reverse; /*Axe principal = axe vertical*/
}
.element-flexible{
    flex-basis: 25%;
    width: 25%;
    height: 25%;
    background-color: #0DA; /*Vert*/
  
    text-align: center;
}